<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploader</title>
</head>
<body>
    <h1>File Uploader</h1>
    <%- include('./partials/navbar.ejs') %>
    <div>
        <h1>Super simple file uploader</h1>
        <p>Upload as many files as you like.</p>
    </div>
    <% if(user){ %>
        <p>or <a href="/create-folder">Upload a folder</a></p>
        <div class="upload-file">
            <form action="/upload" enctype="multipart/form-data" method="POST">
                <div>
                    <label for="folder">Upload to folder:</label>
                    <select name="folderId" id="folder" required>
                        <option value="none">None</option>
                        <% folders.forEach((folder)=>{ %>
                            <option value="<%= folder.id %>"><%= folder.name %></option>
                        <% }); %>
                    </select>
                </div>
                <input type="file" name="file">
                <button type="submit">Submit</button>
            </form>
        </div>
    <% } %>
</body>
</html>